---
import Tour from '../components/Tour.astro';
import ReactCounter from '../components/ReactCounter.tsx';
import SvelteCounter from '../components/SvelteCounter.svelte';
import VueCounter from '../components/VueCounter.vue';

const title = 'My First Astro Site';
const headerText = `Astro Pages`;

---
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title> {title} </title>
  <link rel="stylesheet" href={Astro.resolve('../styles/globals.css')} />
</head>
<body>
  <header>
    <h1>{headerText}</h1>
  </header>
  <main>
    <button>Click Me!</button>
  </main>
</body>
</html>

<style lang="scss">
header {
  background-color: grey;
  color: white;
}
</style>
